.timeline {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Assurez-vous qu'il y a assez de place pour tous les éléments */
    padding: 20px 0;
  }


.timeline-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* Centrer la barre */
    width: 2px; /* Épaisseur de la barre */
    background-color: #00ff00; /* Couleur verte de la barre */
}

.timeline ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative; /* Pour que la barre soit correctement positionnée */
}

.timeline-item {
    display: flex;
    justify-content: center; /* Centre les éléments */
    margin-bottom: 20px;
    position: relative; /* Chaque élément doit aussi être positionné relativement */
    width: 100%;
}

.timeline-content {
    padding: 10px 20px;
    background-color: #0040ff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgb(255, 230, 0);
    width: 40%;
    position: absolute;
    top: 0;
}

.timeline-img {
    width: 60px;
    height: 60px;
    position: absolute; /* Ajouter position absolue */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Ajustement pour centrer exactement sur la barre */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; /* S'assurer que l'image est au-dessus de la barre */
}

.timeline-img img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #615757;
}

.left {
    right: 50%; /* Positionner à gauche */
    margin-right: 65px; /* Ajustement pour ne pas chevaucher la barre */
}

.right {
    left: 50%; /* Positionner à droite */
    margin-left: 65px; /* Ajustement pour ne pas chevaucher la barre */
}
